<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div>

      <header class="clearfix">

        <div class="right absolute-lg right-0 top-0">
          <ul class="mt-2 mr-2 mr-lg-3">
            {% for my_page in site.pages %}
              {% if my_page.title %}
              <li class="inline-block block-lg text-right ml-1 ml-lg-0">
                <a class="italic no-underline h4 font-smoothing" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

        <div class="container mx-auto px-2 mt-4 mb-2 clearfix header-text">
          <h2 class="inline-block py-2 mt-4 header-title text-lg">{{ site.title }}</h2>

          <div class="clearfix mb-4 py-1">
            <p class="h4 lh-condensed font-smoothing">{{ site.description }}</p>
            <div class="col-1 sm-width-full border-top-thick">
            </div>
          </div>

        </div>
      </header>

  <!-- Static dummy links list -->
  <div class="container mx-auto px-2 py-2">
    <ul class="dummy-links-list">
      <li class="mb-4">
        <a class="text-6xl font-bold underline" href="https://jiwookwhy.github.io/research/">Research</a>
        <p class="mt-1 text-base text-gray-700">An overview of my working and published research. Papers mostly cover topics related to the pricing of risks in the derivatives market, specifically risks associated with higher-order moments or macroeconomic event risk. Within the derivatives market, I focus on the nascent but wildly popular market for short maturity options (weeklies) across a variety of asset classes.  </p>
      </li>
      <li class="mb-4">
        <a class="text-6xl font-bold underline" href="https://jiwookwhy.github.io/projects/">Projects</a>
        <p class="mt-1 text-base text-gray-700">A look at some of the projects germane to my coursework and research. Projects include reinforcement learning-based methods applied to problems in static hedging and the replication and pricing of exotic derivative payoffs. </p>
      </li>
      <li class="mb-4">
        <a class="text-6xl font-bold underline" href="http://example.com/page3">Teaching</a>
        <p class="mt-1 text-base text-gray-700">My teaching assistent career: provides an summary of the courses I've helped teach over the past 4 years @ the Fuqua School of Business for the daytime MBA program and MQM (Master of Quantitative Management). Courses cover a variety of topics such as derivatives pricing, asset allocation, factor modeling, and statistical simulation of market models. </p>
      </li>
    </ul>
  </div>

    </div>

    {% include footer.html %}

  </body>

</html>
